@import 'tailwindcss';

.form-area{
    @apply border-1 border-gray-400 rounded-lg focus:outline-none focus:border-green-600 p-3 lg:w-150 h-40 resize-none m-2;
}

.name-area{
    @apply border-1 border-gray-400 rounded-lg focus:outline-none focus:border-green-600 p-3 lg:w-150 h-10 resize-none m-2;
}

.sec-head{
    @apply text-center text-4xl
}